<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-[white]">
    
    <div class="h-50 w-1/4 p-10 rounded-lg bg-[#F78643] mx-auto mt-20 border-4 border-[#DB853B]">
        <h1 class="text-6xl text-[#FFEDA4] font-mono mx-20 font-black">Bingo</h1>
        <h1 class="text-6xl text-[#FFEDA4] font-mono mx-20 font-black">Heeler</h1>
        <h2 class="text-3xl text-[#000000] font-serif"></h2>
    
        <img class="h-80 mx-auto" src="https://i.pinimg.com/originals/02/b0/84/02b08468c3f3b9776e0399d2f9292de8.png" alt="Bingo Heeler">

    </div>
</body>
</html>
