<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-[white]">
    
    <div class="h-50 w-1/4 p-10 rounded-lg bg-[white] mx-auto mt-20 border-4 border-[black]">
        <h1 class="text-6xl text-[black] font-sans mx-18">Nombre: {{nombre_html}}</h1>
        <h1 class="text-5xl text-[black] font-serif mx-19">Estado: {{estado_html}}</h1>
        <h2 class="text-3xl text-[#000000] font-serif"></h2>
    
        <img class="h-80 mx-auto" src="{{url_imagen_html}}" alt="{{nombre_html}}">

    </div>
</body>
</html>